# Virtual Environment
venv/
env/
.env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Environment variables
.env

# System Files
.DS_Store
Thumbs.db